DISCORD_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=https://seu-dominio.com/failuerc/auth/callback
USER_REDIRECT_URI=https://seu-dominio.com/failuerc/auth/user/callback
PORT=3003
SESSION_SECRET=
SESSION_MAX_AGE_DAYS=30
BASE_PATH=/failuerc
GUILD_ID=
PUBLIC_URL=https://reboucas.me
